<div class="container">

  <h1 class="center">Eat-Da-Burger!</h1>
  <br>

  <div class="row">
    <div class="col-6">
      <h2>Fresh Burgers!</h2>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-5">
      <h2>Finished Burgers</h2>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <p>{{this.burger_name}}</p>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="center">
    <h3>Add a burger</h3>
    <form class="create-form">

      <div class="form-group">
        <label for="ca">burger Name:</label>
        <input type="text" id="ca" name="burger_name">
      </div>

      <button type="submit">Add burger</button>
    </form>
  </div>
</div>