li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body{
  background-color: rgb(231, 194, 138);
}

.center{
  margin: auto;
  text-align: center;
  align-items: center;
}

ul{
  list-style: none;
}

li{
  background-color:  rgb(231, 194, 138);
}
/* .container{
  background-color: thistle;
} */